.sidebar {
  height: 100%;
  width: 10%;
  overflow: hidden;
  background-color: #2f4050;
}

.sidebarlist {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebarlist .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Open sans";
}

.sidebarlist .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.sidebarlist #active {
  background-color: #293846;
}
