h1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    /* font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #cccccc; */
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.login-page {
    background-image: linear-gradient(0deg, rgba(14, 4, 10, 0.3), rgba(14, 12, 13, 0.4)), url("../assestsFront/loginback.jpg");
    background-size: cover;
    box-shadow: inset 0 0 5px 2px #282a2d;
    height: 753px;
}